- if @usuario.errors.any?
	#error_explanation
		.alert.alert-danger
			El formulario contiene #{pluralize(@usuario.errors.count, "error")}.
		%ul
			- @usuario.errors.full_messages.each do |msg|
				%li
					* #{msg}